.Medical__assistance-content{
    margin-bottom: 50px;
}
.Medical__assistance-string{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
}
.Medical__assistance-image{
    max-width: 40%;
    max-height: 300px;
}

.list__dots{
    list-style:disc;
    color: #1D2A4D;
}
.medical-ass-column{
    display: flex; 
    margin-right: 30px;
}

@media (max-width: 1024px){

}

@media (max-width: 768px){

    .Medical__assistance-string{
        flex-direction: column;
    }
    .medical-ass-column{
        margin: 0 auto;
        flex-direction: column;
    }
}

@media (max-width: 425px){
   .list__dots{
    font-size: smaller;
   }
   .partners_first-string{
    flex-direction: column;
   }
}